# macOS
.DS_Store

# Xcode user and build data
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Misc logs
*.log
